@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-enter {
    opacity: 0;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }
  
  .fade-exit {
    opacity: 1;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blinking-text {
  font-size: 2rem;
  animation: blink 1s infinite;
  text-align: center;
  width: 100%;
  border: 2px solid;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 20px;
}

.correct {
  color: #22c55e;
}

.incorrect {
  color: #ef4444;
}
