@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-enter {
  opacity: 0;
  transform: scale(0.95);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
  transform: scale(1);
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 300ms, transform 300ms;
}

.game-question-card-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 400px;
  overflow-y: auto;
  transition: height 0.3s ease-in-out;
}

.transition-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

/* Slide Left: Entering */
.slide-left-enter {
  transform: translateX(100%);
  opacity: 0;
}
.slide-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}

/* Slide Left: Exiting */
.slide-left-exit {
  transform: translateX(0);
  opacity: 1;
}
.slide-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 300ms ease-in, opacity 300ms ease-in;
}




@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blinking-text {
  font-size: 2rem;
  animation: blink 1s infinite;
  text-align: center;
  width: 100%;
  border: 2px solid;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 20px;
}

.correct {
  color: #22c55e;
}

.incorrect {
  color: #ef4444;
}


